<head>
    <title>{{ title + ' - Crawler' if title else 'Crawler' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/icon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css?v=0.0.2">
    <link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery-3.5.1.min.js"></script>
</head>