<nav>
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li class="{{ 'active' if navactive == '1' }}"><a href="/">Input URL</a></li>
            <li class="{{ 'active' if navactive == '2' }}"><a href="/manage">Tasks</a></li>
        </ul>
        <a href="/" class="brand-logo center">Crawler</a>
        <ul class="right hide-on-med-and-down">
            <li class="{{ 'active' if navactive == '3' }}"><a href="/advanced">Advanced</a></li>
        </ul>
    </div>
</nav>