body {
    overflow-y: scroll;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pg.crawling .progress.in-progress {
    display: block;
}

.pg.crawling .progress.completed {
    display: none;
}

.pg.done .progress.in-progress {
    display: none;
}

.pg.done .progress.completed {
    display: block;
}

.collapsible .collapsible-body .btn {
    margin-top: 10px;
}

.collapsible .collapsible-header .downloading {
    animation:downloading 2.1s linear infinite;
}

@keyframes downloading {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.swal2-popup .swal2-styled {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.collapsible span.badge {
    height: fit-content;
}

.product-list .card .card-content {
    height: 90%;
}

.product-list .card .card-content .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-list .card .card-content img {
    max-width: 100%;
    max-height: 90%;
}

/* medium */
@media only screen and (min-width: 601px) {
    .product-list .row .col .card {
        height: 300px;
    }
}


/* large */
@media only screen and (min-width: 993px) {
    .product-list .row .col .card {
        height: 300px;
    }
}

/* extra large */
@media only screen and (min-width: 1199px) {
    .product-list .row .col .card {
        height: 400px;
    }
}