{% extends 'layout.html' %}

{% set navactive='3' %}
{% set title='Advanced' %}

{% block main_content %}
<h4>Spider List</h4>
<ul class="collapsible">
    {% for spider_name, spider_doc in spiders.items() %}
    <li>
        <div class="collapsible-header" tabindex="0"><i class="material-icons">pest_control</i>
            <span class="title">{{spider_name}}</span>
        </div>
        <div class="collapsible-body">
            <div class="collection">
                {% for line in spider_doc %}
                <a class="collection-item">
                    <span class="badge">{{line}}</span>
                    .
                </a>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
