{% extends 'layout.html' %}
{% set navactive='1' %}
{% set title='Input URL' %}
{% block main_content %}
<div class="row">
    <div class="input-field col s12">
        <textarea id="first_name" type="text" class="materialize-textarea url-input"></textarea>
        <label for="first_name">Input URLs</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <a class="waves-effect waves-light btn dropdown-trigger" data-target="dropdown1" style="display: block;margin: 0 auto;width: 200px;"><i class="material-icons right">cloud_download</i>Get Products</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li class="only-thumbnail-option"><a href="javascript:void(0)">Only Thumbnail</a></li>
            <li class="all-images-option"><a href="javascript:void(0)">All Images</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block custom_script %}
<script type="text/javascript" src="/js/crawl.js?v={{ script_version if script_version }}"></script>
<script type="text/javascript">
    $('.dropdown-trigger').dropdown();
</script>
{% endblock %}
