<!DOCTYPE html>
<html>

{% include './mixins/head.html' %}

<body>
    <div class="flex-wrapper">
        <div>
            {% include './mixins/navbar.html' %}
            <div class="container main-content">
                {% block main_content %}
                {% endblock %}
            </div>
        </div>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2021 The A Team.
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="/js/peg-0.10.0.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/js/script.js?v={{ script_version if script_version }}"></script>

    <!-- custom script -->
    {% block custom_script %}
    {% endblock %}
</body>

</html>
