{% extends 'layout.html' %}

{% set navactive='2' %}
{% set title='Tasks' %}

{% block main_content %}
<div class="search-wrapper">
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input id="search" type="text" name="" class="validate">
        <label for="search">Search</label>
    </div>
</div>
<ul class="collapsible">
</ul>
<a class="waves-effect waves-light btn load-more-btn center" style="display: block;margin: 0 auto;width: 150px;">Load more</a>
{% endblock %}

{% block custom_script %}
<script type="text/javascript" src="/js/manage.js?v={{ script_version if script_version }}"></script>
{% endblock %}
