{% extends 'layout.html' %}
{% set title='Preview' %}
{% block main_content %}
<div class="product-list" data-task-id="{{ task_id }}">
    <div class="row">
        {% for product in products %}
        <div class="col s6 m4 l3">
            <div class="card">
                <div class="card-content">
                    <a href="{{ product['url'] }}" class="card-title">{{ product['title'] }}</a>
                    <img src="{{ product['images'][0] }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination center">
    <a href="{{ prev_page }}" class="waves-effect btn-large {{'disabled' if prev_page == 'javascript:void(0)'}}"><i class="material-icons">chevron_left</i></a>
    <a href="{{ next_page }}" class="waves-effect btn-large {{'disabled' if next_page == 'javascript:void(0)'}}"><i class="material-icons">chevron_right</i></a>
</div>
{% endblock %}
{% block custom_script %}
<script type="text/javascript" src="/js/preview.js?v={{ script_version if script_version }}"></script>
{% endblock %}